src/main/mule/dataweavestreaming.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="c95310fc-fd36-4873-9b9d-8ba45021f66e" />
	<file:config name="File_Config1" doc:name="File Config" doc:id="94fc28c2-6258-4992-8419-c9a0a99dd4a9" />
	<flow name="dataweavestreamingFlow" doc:id="7e9e42ef-05e6-4b3e-b19d-e7e5167d3e18" >
		<file:listener doc:name="On New or Updated File" doc:id="273e2ecc-22a5-47db-bf1f-7656402944c2"
		 directory="C:\data" moveToDirectory="C:\dev\src" autoDelete="true" outputMimeType="application/csv; streaming=true">
			<scheduling-strategy >
				<fixed-frequency frequency="15" timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="2a5785ea-028d-4fd5-9857-1d2f5d1e477d" message="#[now()]"/>
		<ee:transform doc:name="Transform Message" doc:id="0bb7e072-4b8a-4a8f-8e75-a0c5c109c496" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json deferred=true
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="e20a075b-1ecc-4b87-9168-fd09b5bf4560" config-ref="File_Config1" path="F:\TestData\samplerecords.json"/>
		<logger level="INFO" doc:name="Logger" doc:id="1fc47cdb-3c3d-4884-b02d-c1ab4f352c21" message="#[now()]"/>
	</flow>
</mule>
